.sidebar_wrapper {
    background-color:#F8F7FF;
   display: flex;
   flex-direction: column;
    height: 100%;
    
}
.icon {
    height: 20px;
    width: 20px;
}


#ul {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 3vw;
    
   
}
.list_items {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    font-family: "Poppins-medium";  
}
.list_items > p { 
    margin-left: 10px;
    color: #352E5B;
    text-decoration: none;
}
.topper { 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3vw;
    margin-top: 3vw;
}
#logo_topper {
    width: 30px;
    height: 35px;
}
.topper > p {
    margin-left: 10px;
    font-family: "Poppins-medium";
    font-size: 25px;
}
.topper > p  > .Link {
    color: #352E5B;
}

.Link {
    text-decoration: none;
}
.list_items:hover {

   border-right:solid 1px #9381FF;

}