.collabs {
    margin-top: 70px;
    height: 40vh;
    background-color: white;
    text-align: center;
}

.collabs > p {
    padding-top: 30px;
    color:#151439;
    opacity: 0.4;
    font-size: 15px;
}
.collabs >h1 {
    padding-top: 20px;
    color:#1E0E62;
    font-size: 33px;
}
#armath{ 
    padding-top: 50px;
    width: 130px;
    height: 100px;
} #uate{ 
    padding-left: 6vw;
    padding-top: 50px;
    width: 220px;
    height: 100px;
}